@model GestaoPedidosNotificacao.UI.Entities.Entidade

@{
    ViewBag.Title = "Entidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h4>Entidade</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Denoninacao)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Denoninacao)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumeroProcesso)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumeroProcesso)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DataEntidade)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DataEntidade)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EntidadeTipo.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EntidadeTipo.Nome)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-danger" })

    </p>

