@model IEnumerable<GestaoPedidosNotificacao.UI.Entities.Entidade>

@{
    ViewBag.Title = "Entidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <p>
        @Html.ActionLink("Cadastrar Nova", "Create",null,new { @class="btn btn-primary" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Denoninacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroProcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntidadeTipo.Nome)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denoninacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroProcesso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntidadeTipo.Nome)
            </td> 
            <td>
                <a href="@Url.Action("Details","Entidades", new { id=item.Id })" class="btn btn-primary btn-circle">
                    <i class="fas fa-search"></i>
                </a>
                <a href="@Url.Action("Edit","Entidades", new { id=item.Id })" class= "btn btn-success btn-circle">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="@Url.Action("Delete","Entidades", new { id=item.Id })" class= "btn btn-danger btn-circle">
                    <i class="fas fa-trash"></i>
                </a>

            </td>
        </tr>
    }
    
    </table>

