@model IEnumerable<GestaoPedidosNotificacao.UI.Entities.EntidadeTipo>

@{
    ViewBag.Title = "Tipos de Entidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Novo Tipo", "Create",null, new { @class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            <a href="@Url.Action("Details","EntidadeTipoes", new { id=item.Id })" class="btn btn-primary btn-circle">
                <i class="fas fa-search"></i>
            </a>
            <a href="@Url.Action("Edit","EntidadeTipoes", new { id=item.Id }))" class="btn btn-success btn-circle">
                <i class="fas fa-edit"></i>
            </a>
            <a href="@Url.Action("Delete","EntidadeTipoes", new { id=item.Id })" class="btn btn-danger btn-circle">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
}

</table>
