@model IEnumerable<GestaoPedidosNotificacao.UI.Entities.Pedido>


@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var search = new GestaoPedidosNotificacao.UI.Models.SearchPedidosModel();
}

<div class="card mb-4">

    <div class="card-body">
        @using (Html.BeginForm(new { toClean = false }))
        {
            @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => search.EntidadeId, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.DropDownList("EntidadeId", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>


            <div class="col-md-4">
                @Html.LabelFor(model => search.NumProcesso, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.Editor("NumProcesso", new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => search.EstadoId, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.DropDownList("EstadoId", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-2">
                @Html.Label("Data de Factura", htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.Editor("DataFacStart", new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>
            <div class="col-md-2">
                @Html.Label("Data Fim", htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.Editor("DataFacEnd", new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="col-md-2">
                @Html.Label("Data de Pagamento", htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.Editor("DataPagStart", new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>
            <div class="col-md-2">
                @Html.Label("Data Fim", htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.Editor("DataPagEnd", new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="col-md-4 ">
                @Html.Label("Opções", htmlAttributes: new { @class = "control-label" })
                <div class="">
                    <input type="submit" value="Procura Avançada" class="btn btn-primary" />
                    @Html.ActionLink("Limpar Resultado", "Index", new { toClean = true }, new { @class = "btn btn-danger" })

                </div>
            </div>

            
        </div>


        }
    </div>
</div>


<div class="card mb-4">

    <div class="card-body">
        <span class="float-right">
            <br />
            
            @Html.ActionLink("Novo Pedido", "Create", null, new { @class = "btn btn-primary" })
            <br />.
        </span>
        <table id="dataTable" class="table table-bordered dataTable" style="width:100%">
            <thead>
                <tr role="row">
                    <th tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(model => model.Entidade.Denoninacao): activate to sort column ascending">
                        @Html.DisplayNameFor(model => model.Entidade.Denoninacao)
                    </th>
                    <th tabindex="1" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(model => model.NumProcesso): activate to sort column ascending">
                        @Html.DisplayNameFor(model => model.NumProcesso)
                    </th>
                    <th tabindex="1" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(model => model.Finalidade): activate to sort column ascending">
                        @Html.DisplayNameFor(model => model.Finalidade)
                    </th>
                    <th tabindex="2" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(model => model.DataFactura): activate to sort column ascending">
                        @Html.DisplayNameFor(model => model.DataFactura)
                    </th>
                    <th tabindex="3" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(model => model.Status.Descricao): activate to sort column ascending">
                        @Html.DisplayNameFor(model => model.Status.Descricao)
                    </th>
                    <th width="200"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Entidade.Denoninacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumProcesso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Finalidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataFactura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Descricao)
                        </td>
                        <td>
                            <a href="@Url.Action("Details","Pedidoes", new { id=item.Id })" class="btn btn-primary btn-circle">
                                <i class="fas fa-search"></i>
                            </a>
                            <a href="@Url.Action("Edit","Pedidoes", new { id=item.Id })" class="btn btn-success btn-circle">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="@Url.Action("Delete","Pedidoes", new { id=item.Id })" class="btn btn-danger btn-circle">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts{
    <script>

        $("#DataFacStart").datepicker({
            format: 'dd/mm/yyyy'
        });
        $("#DataFacEnd").datepicker({
            format: 'dd/mm/yyyy'
        });
        $("#DataPagStart").datepicker({
            format: 'dd/mm/yyyy'
        });
        $("#DataPagEnd").datepicker({
            format: 'dd/mm/yyyy'
        });

    </script>

}